@font-face {
    font-family: "Material Icons";
    src: url("~@/assets/fonts/mdi/mdi.eot");
    src: url("~@/assets/fonts/mdi/mdi.eot") format("embedded-opentype"),
         url("~@/assets/fonts/mdi/mdi.woff2") format("woff2"),
         url("~@/assets/fonts/mdi/mdi.woff") format("woff"),
         url("~@/assets/fonts/mdi/mdi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}