@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-Regular.ttf?v=3.4.93") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-Italic.ttf?v=3.4.93") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-SemiBold.ttf?v=3.4.93") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-SemiBoldItalic.ttf?v=3.4.93") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-Bold.ttf?v=3.4.93") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-BoldItalic.ttf?v=3.4.93") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-Black.ttf?v=3.4.93") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/muli/Muli-BlackItalic.ttf?v=3.4.93") format("truetype");
    font-weight: 900;
    font-style: italic;
}