@font-face {
    font-family: "SCP";
    src: url("~@/assets/fonts/scp/SourceCodePro-Regular.ttf?v=3.4.93") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SCP";
    src: url("~@/assets/fonts/scp/SourceCodePro-SemiBold.ttf?v=3.4.93") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SCP";
    src: url("~@/assets/fonts/scp/SourceCodePro-Black.ttf?v=3.4.93") format("truetype");
    font-weight: 900;
    font-style: normal;
}